@charset "UTF-8";
/* Slider */
/* line 3, ../sass/_slick.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 18, ../sass/_slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 25, ../sass/_slick.scss */
.slick-list:focus {
  outline: none;
}
/* line 29, ../sass/_slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 34, ../sass/_slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 43, ../sass/_slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
/* line 49, ../sass/_slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 55, ../sass/_slick.scss */
.slick-track:after {
  clear: both;
}
/* line 59, ../sass/_slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 63, ../sass/_slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 67, ../sass/_slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 70, ../sass/_slick.scss */
.slick-slide img {
  display: block;
}
/* line 73, ../sass/_slick.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 79, ../sass/_slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 83, ../sass/_slick.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 87, ../sass/_slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 91, ../sass/_slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 97, ../sass/_slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/* line 10, ../sass/estilo.scss */
body {
  font-family: Open Sans;
  overflow-x: hidden;
}

/* line 19, ../sass/estilo.scss */
h1, h2, h3 {
  font-family: Bitter;
}

/* line 22, ../sass/estilo.scss */
h4, p, .interna ul.text li {
  font-family: Open Sans;
}

/* line 26, ../sass/estilo.scss */
*, *:before, *:after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 33, ../sass/estilo.scss */
.pull-left {
  float: left;
}

/* line 36, ../sass/estilo.scss */
.pull-right {
  float: right;
}

/* line 40, ../sass/estilo.scss */
a {
  color: inherit;
}
/* line 43, ../sass/estilo.scss */
a:hover {
  text-decoration: underline;
}

/* line 47, ../sass/estilo.scss */
.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}
/* line 52, ../sass/estilo.scss */
.container.medium {
  width: 800px;
}
/* line 55, ../sass/estilo.scss */
.container.mini {
  width: 320px;
  margin: initial;
}

/* line 60, ../sass/estilo.scss */
#page {
  position: relative;
}

/* line 63, ../sass/estilo.scss */
nav#menu {
  width: 600px;
  height: 100%;
  background: #1993DE;
  position: absolute;
  left: -600px;
}
/* line 70, ../sass/estilo.scss */
nav#menu ul {
  width: 300px;
  float: right;
  padding: 26px 56px 56px;
  list-style: none;
}
/* line 76, ../sass/estilo.scss */
nav#menu ul li {
  color: white;
  font-family: Bitter;
}
/* line 80, ../sass/estilo.scss */
nav#menu ul li h2 {
  color: white;
  text-align: left;
  margin: 30px 0 10px;
}
/* line 86, ../sass/estilo.scss */
nav#menu ul li a {
  line-height: 26px;
}

/* line 92, ../sass/estilo.scss */
header.main-header {
  height: 140px;
  border-top: solid 2px #1993DE;
  text-align: center;
}
/* line 97, ../sass/estilo.scss */
header.main-header .container {
  position: relative;
  overflow: hidden;
}
/* line 101, ../sass/estilo.scss */
header.main-header button {
  position: absolute;
  left: 0px;
  top: 44px;
  width: 32px;
  height: 30px;
  border: none;
  background-color: initial;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  text-indent: 32px;
  background: url("../img/hamburger.png");
  background-repeat: no-repeat;
}
/* line 116, ../sass/estilo.scss */
header.main-header button.open {
  background-position: left center;
}
/* line 119, ../sass/estilo.scss */
header.main-header button.close {
  background-position: right center;
}
/* line 123, ../sass/estilo.scss */
header.main-header a {
  display: inline-block;
}
/* line 126, ../sass/estilo.scss */
header.main-header h1 {
  width: 200px;
  height: 55px;
  margin: 40px auto 0;
  background-image: url("../img/logotipo.jpg");
  background-size: 200px;
  background-repeat: no-repeat;
  text-indent: 101%;
  overflow: hidden;
}
/* line 136, ../sass/estilo.scss */
header.main-header select {
  position: absolute;
  right: 0px;
  top: 44px;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 109px;
  height: 29px;
  border-radius: 0;
  border-color: #1993DE;
  outline: 0;
  color: #1993DE;
  padding-left: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
  cursor: pointer;
  background: url("../img/blue-arrow-select.png");
  background-repeat: no-repeat;
  background-position: 83px 11px;
  background-size: 12px;
}

/* line 159, ../sass/estilo.scss */
h2 {
  text-transform: uppercase;
  text-align: center;
  color: #1993DE;
  margin-bottom: 45px;
  font-size: 26px;
}

/* line 166, ../sass/estilo.scss */
.carousel {
  height: 420px;
  background: #eee;
  position: relative;
}
/* line 171, ../sass/estilo.scss */
.carousel .carousel_stage {
  height: 420px;
  overflow: hidden;
}
/* line 176, ../sass/estilo.scss */
.carousel .carousel_stage .slick-slide img {
  margin: 0 auto;
}
/* line 181, ../sass/estilo.scss */
.carousel .container {
  position: relative;
}
/* line 184, ../sass/estilo.scss */
.carousel .carousel_nav {
  width: 300px;
  height: 250px;
  position: absolute;
  bottom: -40px;
  left: 80px;
  padding: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}
/* line 194, ../sass/estilo.scss */
.carousel .carousel_nav h3 {
  font-size: 32px;
}
/* line 197, ../sass/estilo.scss */
.carousel .carousel_nav .slide {
  outline: none;
}
/* line 200, ../sass/estilo.scss */
.carousel .carousel_nav .slick-arrow {
  position: absolute;
  width: 16px;
  text-indent: 17px;
  height: 30px;
  overflow: hidden;
  bottom: 20px;
  z-index: 10;
  border: none;
  cursor: pointer;
  outline: 0;
}
/* line 212, ../sass/estilo.scss */
.carousel .carousel_nav .slick-arrow.slick-prev {
  left: 20px;
  background: url("../img/white-arrow-prev.png");
}
/* line 216, ../sass/estilo.scss */
.carousel .carousel_nav .slick-arrow.slick-next {
  left: 80px;
  background: url("../img/white-arrow-next.png");
}

/* line 224, ../sass/estilo.scss */
main.home .nossosprodutos {
  padding-top: 100px;
  padding-bottom: 50px;
}
/* line 228, ../sass/estilo.scss */
main.home .banner {
  width: 100%;
  height: 262px;
}

/* line 234, ../sass/estilo.scss */
.nossosprodutos ul {
  text-align: center;
  margin-bottom: 40px;
}
/* line 238, ../sass/estilo.scss */
.nossosprodutos ul a {
  display: inline-block;
  vertical-align: top;
}
/* line 252, ../sass/estilo.scss */
.nossosprodutos ul li {
  width: 140px;
  height: 145px;
  border: solid 1px #1993DE;
  display: inline-block;
  margin: 0 8px;
  border-radius: 3px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 263, ../sass/estilo.scss */
.nossosprodutos ul li.comunicacao {
  background: url("../img/produtos-com.png");
  background-repeat: no-repeat;
  background-position: center 28%;
}
/* line 268, ../sass/estilo.scss */
.nossosprodutos ul li.navegacao {
  background: url("../img/produtos-nav.png");
  background-repeat: no-repeat;
  background-position: center 32%;
}
/* line 273, ../sass/estilo.scss */
.nossosprodutos ul li.seguranca {
  background: url("../img/produtos-seg.png");
  background-repeat: no-repeat;
  background-position: center 40%;
}
/* line 279, ../sass/estilo.scss */
.nossosprodutos ul li h3 {
  color: #7e7b79;
  font-size: 16px;
  font-weight: 400;
  margin-top: 110px;
}

/* line 289, ../sass/estilo.scss */
main.home .projetos {
  padding-top: 30px;
  padding-bottom: 120px;
}

/* line 295, ../sass/estilo.scss */
.projetos ul {
  width: 100%;
}
/* line 298, ../sass/estilo.scss */
.projetos ul li {
  width: 300px;
  height: 320px;
  display: inline-block;
  margin: 0 15px 30px 0;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
  vertical-align: top;
}
/* line 307, ../sass/estilo.scss */
.projetos ul li:nth-child(3n) {
  margin-right: 0;
}
/* line 311, ../sass/estilo.scss */
.projetos ul li header {
  width: 100%;
  height: 74px;
  margin-top: -1px;
  text-align: center;
  background: #C9DAEB;
  display: table;
}
/* line 319, ../sass/estilo.scss */
.projetos ul li h3 {
  display: table-cell;
  padding: 0 10px;
  vertical-align: middle;
  color: #528CBC;
}
/* line 325, ../sass/estilo.scss */
.projetos ul li .info {
  padding: 10px 20px;
}
/* line 328, ../sass/estilo.scss */
.projetos ul li .info h4 {
  color: #7E7B79;
  font-weight: 600;
  margin-top: 18px;
  font-size: 16px;
}
/* line 334, ../sass/estilo.scss */
.projetos ul li .info p, .projetos .interna ul.text li .info li, .interna .projetos ul.text li .info li {
  color: #7E7B79;
  font-size: 14px;
}
/* line 339, ../sass/estilo.scss */
.projetos ul li span.year {
  font-family: Bitter;
  font-size: 64px;
  color: #528CBC;
  letter-spacing: 0.5px;
}
/* line 345, ../sass/estilo.scss */
.projetos ul li .client {
  display: inline-block;
  width: 100px;
  height: 63px;
  vertical-align: top;
  position: relative;
  padding-left: 10px;
}
/* line 353, ../sass/estilo.scss */
.projetos ul li .client p, .projetos .interna ul.text li .client li, .interna .projetos ul.text li .client li {
  position: absolute;
  bottom: 0;
  color: #7E7B79;
  font-weight: 600;
  line-height: 16px;
  font-size: 16px;
}
/* line 364, ../sass/estilo.scss */
.projetos a {
  width: 180px;
  height: 40px;
  margin-top: 10px;
  display: block;
  border: solid 1px #1993DE;
  color: #1993DE;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  line-height: 36px;
  border-radius: 3px;
}

/* line 379, ../sass/estilo.scss */
#marcas_parceiras {
  height: 344px;
  padding-top: 50px;
  background: #EEEEEE;
}
/* line 384, ../sass/estilo.scss */
#marcas_parceiras ul {
  width: 640px;
  margin: 0 auto;
}
/* line 388, ../sass/estilo.scss */
#marcas_parceiras ul li {
  height: 140px;
  background: url("../img/home-parceiras-ellipse.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  margin: 0 10px;
  outline: none;
  position: relative;
  overflow: hidden;
}
/* line 399, ../sass/estilo.scss */
#marcas_parceiras ul li img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 70%;
}
/* line 407, ../sass/estilo.scss */
#marcas_parceiras .slick-arrow {
  position: absolute;
  width: 30px;
  height: 55px;
  border: none;
  cursor: pointer;
  text-indent: 31px;
  overflow: hidden;
  top: 42px;
  outline: none;
}
/* line 418, ../sass/estilo.scss */
#marcas_parceiras .slick-arrow.slick-next {
  right: -70px;
  background: url("../img/blue-arrow-next.png");
}
/* line 422, ../sass/estilo.scss */
#marcas_parceiras .slick-arrow.slick-prev {
  left: -70px;
  background: url("../img/blue-arrow-prev.png");
}

/* line 429, ../sass/estilo.scss */
footer {
  height: 120px;
  clear: both;
}
/* line 433, ../sass/estilo.scss */
footer ul {
  font-family: Bitter;
  background: #1993DE;
  color: white;
  height: 80px;
  text-align: center;
  display: block;
}
/* line 441, ../sass/estilo.scss */
footer ul li {
  display: inline-block;
  margin: 0 20px;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
}
/* line 448, ../sass/estilo.scss */
footer ul li a {
  text-decoration: none;
  line-height: 80px;
}
/* line 452, ../sass/estilo.scss */
footer ul li a:hover {
  text-decoration: underline;
}
/* line 457, ../sass/estilo.scss */
footer ul li:after {
  content: '/';
  position: absolute;
  top: 29px;
  right: -26px;
}
/* line 463, ../sass/estilo.scss */
footer ul li:last-of-type:after {
  display: none;
}
/* line 468, ../sass/estilo.scss */
footer .subfooter {
  display: block;
  text-align: center;
  line-height: 46px;
  font-size: 12px;
  color: #7e7b79;
}

/* line 477, ../sass/estilo.scss */
.interna section {
  margin-bottom: 80px;
}
/* line 480, ../sass/estilo.scss */
.interna p, .interna ul.text li {
  font-size: 20px;
  color: #7e7b79;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 10px;
}
/* line 487, ../sass/estilo.scss */
.interna ul.text {
  list-style: none;
  padding-left: 20px;
  margin: 30px 0;
}
/* line 492, ../sass/estilo.scss */
.interna ul.text li {
  font-size: 18px;
  line-height: 20px;
}
/* line 497, ../sass/estilo.scss */
.interna ul.text li:before {
  content: "• ";
  color: #1993DE;
  font-size: 18px;
}
/* line 504, ../sass/estilo.scss */
.interna .graybg {
  background-color: #eee;
  padding: 50px 0;
}
/* line 508, ../sass/estilo.scss */
.interna .graybg .container {
  overflow: hidden;
}
/* line 511, ../sass/estilo.scss */
.interna .graybg h3 {
  font-size: 32px;
  line-height: 40px;
  color: #1993DE;
  text-transform: uppercase;
}
/* line 517, ../sass/estilo.scss */
.interna .graybg h4 {
  font-size: 14px;
  line-height: 24px;
  color: #1993DE;
  text-transform: uppercase;
}
/* line 523, ../sass/estilo.scss */
.interna .graybg p, .interna .graybg ul.text li, .interna ul.text .graybg li {
  font-size: 14px;
  line-height: 24px;
  color: #7e7b79;
  margin-bottom: 5px;
}
/* line 530, ../sass/estilo.scss */
.interna a.pagelink {
  display: inline-block;
  margin-right: 15px;
  background: #1993DE;
}
/* line 536, ../sass/estilo.scss */
.interna a.pagelink:hover img {
  opacity: 0.9;
}

/* line 542, ../sass/estilo.scss */
section.titulo {
  width: 100%;
  height: 200px;
  background: #eee;
  margin-bottom: 80px;
  background-position: center center;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 551, ../sass/estilo.scss */
section.titulo .container {
  position: relative;
  height: 100%;
}
/* line 555, ../sass/estilo.scss */
section.titulo .title-box {
  display: table;
  width: 220px;
  height: 160px;
  position: absolute;
  left: 0;
  bottom: -40px;
  background-color: RGBA(37, 146, 228, 0.8);
}
/* line 564, ../sass/estilo.scss */
section.titulo h1 {
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}

/* line 573, ../sass/estilo.scss */
.produtos .filtros {
  height: 150px;
}

/* line 576, ../sass/estilo.scss */
.projetos .filtros {
  height: 80px;
}

/* line 579, ../sass/estilo.scss */
section.filtros {
  margin-bottom: 50px;
}
/* line 582, ../sass/estilo.scss */
section.filtros form {
  display: block;
  height: 100%;
  background-color: #eeeeee;
  text-align: center;
  padding-top: 20px;
}
/* line 589, ../sass/estilo.scss */
section.filtros form select {
  width: 220px;
  height: 40px;
  margin: 0 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 0;
  border: solid 1px #1993DE;
  outline: 0;
  color: #1993DE;
  padding-left: 10px;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
  background-color: white;
  background-image: url("../img/blue-arrow-select.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  font-family: Open Sans;
}
/* line 612, ../sass/estilo.scss */
section.filtros form input[type="text"] {
  font-family: Open Sans;
  -webkit-appearance: none;
  width: 500px;
  height: 40px;
  border: 1px solid #d8d8d8;
  border-radius: 0;
  outline: 0;
  color: #1993DE;
  padding-left: 10px;
  font-weight: 400;
  font-size: 13px;
  margin-top: 30px;
  float: left;
  margin-left: 86px;
}
/* line 628, ../sass/estilo.scss */
section.filtros form input[type="submit"] {
  float: left;
  width: 60px;
  height: 38px;
  margin: 31px 0 0 -61px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 0;
  outline: 0;
  background: url("../img/btn_buscar.png");
}
/* line 642, ../sass/estilo.scss */
section.filtros form ::-webkit-input-placeholder {
  color: #1993DE;
}
/* line 646, ../sass/estilo.scss */
section.filtros form :-moz-placeholder {
  color: #1993DE;
}
/* line 650, ../sass/estilo.scss */
section.filtros form ::-moz-placeholder {
  color: #1993DE;
}
/* line 654, ../sass/estilo.scss */
section.filtros form :-ms-input-placeholder {
  color: #1993DE;
}

/* line 660, ../sass/estilo.scss */
article.produtos ul {
  list-style: none;
  overflow: hidden;
  border-bottom: solid 1px #d8d8d8;
  margin-bottom: 30px;
}
/* line 666, ../sass/estilo.scss */
article.produtos li.produto {
  float: left;
  margin-right: 20px;
  vertical-align: top;
  margin-bottom: 40px;
  width: 220px;
}
/* line 673, ../sass/estilo.scss */
article.produtos li.produto:nth-child(4n) {
  margin-right: 0;
}
/* line 677, ../sass/estilo.scss */
article.produtos li.produto figure {
  display: block;
  width: 220px;
  height: 220px;
  border: solid 1px #d8d8d8;
  border-radius: 3px;
  margin-bottom: 20px;
  position: relative;
}
/* line 686, ../sass/estilo.scss */
article.produtos li.produto figure img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 695, ../sass/estilo.scss */
article.produtos li.produto a.categoria {
  display: inline-block;
  padding: 0 10px;
  border: solid 1px #1993DE;
  color: #1993DE;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  line-height: 30px;
  border-radius: 3px;
}
/* line 708, ../sass/estilo.scss */
article.produtos li.produto a.categoria:hover {
  background-color: #1993DE;
  color: white;
}
/* line 713, ../sass/estilo.scss */
article.produtos li.produto h3 {
  margin-top: 20px;
  font-family: Open Sans;
  color: #7e7b79;
}
/* line 718, ../sass/estilo.scss */
article.produtos li.produto p, article.produtos li.produto .interna ul.text li, .interna ul.text article.produtos li.produto li {
  color: #7e7b79;
}

/* line 724, ../sass/estilo.scss */
main.ondeestamos .map-placeholder {
  width: 320px;
  height: 186px;
  margin: 20px 0;
  background-color: #ccc;
}

/* line 732, ../sass/estilo.scss */
article.novidades ul {
  overflow: hidden;
  list-style: none;
  border-bottom: solid 1px #d8d8d8;
  margin-bottom: 30px;
}
/* line 738, ../sass/estilo.scss */
article.novidades ul li.novidade {
  width: 300px;
  height: 400px;
  float: left;
  margin-right: 20px;
  margin-bottom: 30px;
  color: #7e7b79;
}
/* line 746, ../sass/estilo.scss */
article.novidades ul li.novidade figure {
  width: 300px;
  height: 252px;
  background: #eee;
  overflow: hidden;
  border-radius: 3px;
}
/* line 753, ../sass/estilo.scss */
article.novidades ul li.novidade h3 {
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 20px;
  font-family: Open Sans;
  font-weight: 600;
}
/* line 761, ../sass/estilo.scss */
article.novidades ul li.novidade p, article.novidades .interna ul.text li.novidade li, .interna article.novidades ul.text li.novidade li {
  font-size: 14px;
  color: #7e7b79;
  line-height: 20px;
  margin-top: 5px;
}
/* line 768, ../sass/estilo.scss */
article.novidades ul li.novidade:nth-child(3n) {
  margin-right: 0;
}
/* line 772, ../sass/estilo.scss */
article.novidades ul li.newsletter {
  width: 300px;
  height: 252px;
  padding: 20px;
  float: left;
  background: #eee;
  border-radius: 3px;
}
/* line 780, ../sass/estilo.scss */
article.novidades ul li.newsletter h3 {
  font-size: 24px;
  margin-top: 15px;
}
/* line 784, ../sass/estilo.scss */
article.novidades ul li.newsletter form {
  margin-top: 25px;
}
/* line 787, ../sass/estilo.scss */
article.novidades ul li.newsletter input[type="text"] {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 13px;
  outline: none;
}
/* line 794, ../sass/estilo.scss */
article.novidades ul li.newsletter input[type="submit"] {
  margin-top: 20px;
  width: 84px;
  height: 35px;
  display: block;
  background: transparent;
  border: solid 1px #1993DE;
  color: #1993DE;
  font-family: Bitter;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

/* line 815, ../sass/estilo.scss */
main.novidade article.novidade {
  width: 620px;
  float: left;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px #d8d8d8;
}
/* line 822, ../sass/estilo.scss */
main.novidade article.novidade h1 {
  margin-bottom: 25px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 828, ../sass/estilo.scss */
main.novidade article.novidade img {
  margin-bottom: 30px;
}
/* line 831, ../sass/estilo.scss */
main.novidade article.novidade p, main.novidade article.novidade .interna ul.text li, .interna ul.text main.novidade article.novidade li {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
}
/* line 837, ../sass/estilo.scss */
main.novidade aside.recentes {
  width: 220px;
  float: right;
}
/* line 841, ../sass/estilo.scss */
main.novidade aside.recentes ul {
  list-style: none;
}
/* line 844, ../sass/estilo.scss */
main.novidade aside.recentes li.newsletter {
  width: 100%;
  height: 200px;
  padding: 10px 20px;
  float: left;
  background: #eee;
  border-radius: 3px;
  margin-bottom: 30px;
}
/* line 853, ../sass/estilo.scss */
main.novidade aside.recentes li.newsletter h3 {
  font-size: 24px;
  line-height: 27px;
}
/* line 857, ../sass/estilo.scss */
main.novidade aside.recentes li.newsletter form {
  margin-top: 10px;
}
/* line 860, ../sass/estilo.scss */
main.novidade aside.recentes li.newsletter input[type="text"] {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 13px;
  outline: none;
}
/* line 867, ../sass/estilo.scss */
main.novidade aside.recentes li.newsletter input[type="submit"] {
  margin-top: 10px;
  width: 84px;
  height: 35px;
  display: block;
  background: transparent;
  border: solid 1px #1993DE;
  color: #1993DE;
  font-family: Bitter;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
/* line 885, ../sass/estilo.scss */
main.novidade aside.recentes li.recente {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  color: #7e7b79;
  margin-bottom: 20px;
}
/* line 892, ../sass/estilo.scss */
main.novidade aside.recentes li.recente figure {
  width: 100%;
  height: 180px;
  background: #eee;
  overflow: hidden;
  border-radius: 3px;
}
/* line 899, ../sass/estilo.scss */
main.novidade aside.recentes li.recente h3 {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: Open Sans;
  font-weight: 600;
}
/* line 907, ../sass/estilo.scss */
main.novidade aside.recentes li.recente p, main.novidade aside.recentes li.recente .interna ul.text li, .interna ul.text main.novidade aside.recentes li.recente li {
  font-size: 13px;
  color: #7e7b79;
  line-height: 20px;
  margin-top: 5px;
}

/* line 916, ../sass/estilo.scss */
.news_tooltip {
  position: fixed;
  top: 200px;
  right: 0;
  z-index: 600;
  width: 260px;
  min-height: 200px;
}
/* line 924, ../sass/estilo.scss */
.news_tooltip #news_button {
  width: 100px;
  height: 90px;
  border: none;
  font-family: Bitter;
  background-color: #1993DE;
  color: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  padding-top: 45px;
  background-image: url("../img/chat.png");
  background-repeat: no-repeat;
  background-position: center 20px;
}
/* line 944, ../sass/estilo.scss */
.news_tooltip .lista {
  width: 260px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: white;
  padding: 20px 30px;
  position: absolute;
  top: 0;
  right: -260px;
}
/* line 954, ../sass/estilo.scss */
.news_tooltip .lista #close_tooltip {
  display: none;
  width: 34px;
  height: 34px;
  border-top-left-radius: 3px;
  position: absolute;
  top: -34px;
  right: 0;
  background-color: #1993DE;
  background-image: url("../img/close.png");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  outline: none;
  cursor: pointer;
}
/* line 970, ../sass/estilo.scss */
.news_tooltip .lista ul {
  list-style: none;
}
/* line 973, ../sass/estilo.scss */
.news_tooltip .lista ul li {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: solid 1px #d8d8d8;
}
/* line 978, ../sass/estilo.scss */
.news_tooltip .lista ul li:last-of-type {
  border: none;
  margin-bottom: 0;
}
/* line 983, ../sass/estilo.scss */
.news_tooltip .lista ul li figure {
  width: 100%;
  height: 120px;
  background: #eee;
  border-radius: 3px;
}
/* line 989, ../sass/estilo.scss */
.news_tooltip .lista ul li h4 {
  font-family: Bitter;
  font-size: 16px;
  color: #1993DE;
  text-transform: uppercase;
  margin-top: 10px;
}
/* line 996, ../sass/estilo.scss */
.news_tooltip .lista ul li p, .news_tooltip .lista .interna ul.text li li, .interna .news_tooltip .lista ul.text li li {
  margin-top: 10px;
  font-size: 12px;
  color: #7e7b79;
}
/* line 1003, ../sass/estilo.scss */
.news_tooltip .lista .newsletter {
  width: 220px;
  height: 146px;
  padding: 20px;
  float: left;
  background: #eee;
  border-bottom-left-radius: 3px;
  box-sizing: initial;
  margin: 0 -30px -20px -30px;
}
/* line 1013, ../sass/estilo.scss */
.news_tooltip .lista .newsletter h3 {
  font-size: 15px;
}
/* line 1016, ../sass/estilo.scss */
.news_tooltip .lista .newsletter form {
  margin-top: 15px;
}
/* line 1019, ../sass/estilo.scss */
.news_tooltip .lista .newsletter input[type="text"] {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 13px;
  outline: none;
}
/* line 1026, ../sass/estilo.scss */
.news_tooltip .lista .newsletter input[type="submit"] {
  margin-top: 15px;
  width: 84px;
  height: 35px;
  display: block;
  background: transparent;
  border: solid 1px #1993DE;
  color: #1993DE;
  font-family: Bitter;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

/* line 1047, ../sass/estilo.scss */
article.contato {
  margin-bottom: 100px;
}
/* line 1050, ../sass/estilo.scss */
article.contato .container.mini {
  display: inline-block;
  vertical-align: top;
  margin-right: 140px;
}
/* line 1056, ../sass/estilo.scss */
article.contato .formulario p, article.contato .formulario .interna ul.text li, .interna ul.text article.contato .formulario li {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #7e7b79;
}
/* line 1063, ../sass/estilo.scss */
article.contato .formulario input {
  width: 320px;
  height: 40px;
  border: solid 1px #d8d8d8;
}
/* line 1068, ../sass/estilo.scss */
article.contato .formulario textarea {
  width: 320px;
  height: 140px;
  border: solid 1px #d8d8d8;
  resize: none;
}
/* line 1074, ../sass/estilo.scss */
article.contato .formulario input[type='submit'] {
  width: 220px;
  height: 38px;
  background: transparent;
  border: solid 1px #1993DE;
  color: #1993DE;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  line-height: 36px;
  border-radius: 3px;
}
/* line 1089, ../sass/estilo.scss */
article.contato .local .map-placeholder {
  width: 320px;
  height: 186px;
  margin: 20px 0;
  background-color: #ccc;
}
/* line 1095, ../sass/estilo.scss */
article.contato .local p, article.contato .local .interna ul.text li, .interna ul.text article.contato .local li {
  font-size: 14px;
  line-height: 24px;
  color: #7e7b79;
  margin-bottom: 5px;
}
/* line 1101, ../sass/estilo.scss */
article.contato .local h4 {
  font-size: 14px;
  line-height: 24px;
  color: #1993DE;
  text-transform: uppercase;
}
