@charset "UTF-8";
body {
  font-family: Open Sans;
  overflow-x: hidden; }

h1, h2, h3 {
  font-family: Bitter;
  font-weight: bold; }

h4, p, .interna ul.text li {
  font-family: Open Sans; }

*, *:before, *:after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: underline;
    color: currentColor; }

.container {
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative; }
  .container.medium {
    width: 800px; }
  .container.mini {
    width: 320px;
    margin: initial; }
  .container a.leftlink {
    float: left; }
  .container a.rightlink {
    float: right; }

article {
  min-height: 600px; }

#page {
  position: relative; }

.navemenu {
  display: inline-block;
  padding: 0 10px;
  border: solid 1px #1993DE;
  color: #1993DE;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  line-height: 30px;
  border-radius: 3px;
  margin-bottom: 50px; }

.botaoProjeto {
  width: 180px;
  height: 40px;
  margin-top: 10px;
  display: block;
  border: solid 1px #1993DE;
  color: #1993DE;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  line-height: 36px;
  border-radius: 3px; }

nav#menu {
  width: 600px;
  height: 100%;
  background: #1993DE;
  position: absolute;
  left: -600px; }
  nav#menu ul {
    width: 280px;
    float: right;
    padding: 26px 56px 56px;
    list-style: none; }
    nav#menu ul li {
      color: white;
      font-family: Bitter; }
      nav#menu ul li h2 {
        color: white;
        text-align: left;
        margin: 30px 0 10px;
        font-size: 20px; }
      nav#menu ul li a {
        line-height: 26px;
        text-decoration: none;
        font-size: 16px; }
        nav#menu ul li a:hover {
          text-decoration: underline;
          color: #fff; }
  nav#menu form.searchform {
    margin-top: 30px; }
    nav#menu form.searchform input[type="text"] {
      width: 140px;
      height: 30px;
      background-color: transparent;
      border: solid 1px white;
      font-size: 13px;
      padding-left: 10px;
      color: #fff;
      outline: none;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px; }
    nav#menu form.searchform input[type="submit"] {
      width: 28px;
      height: 28px;
      background: url("../img/lupa.png");
      background-repeat: no-repeat;
      border: none;
      margin-left: -33px;
      background-position: center 5px;
      text-indent: 30px;
      outline: none;
      cursor: pointer;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px; }
    nav#menu form.searchform ::-webkit-input-placeholder {
      color: #acdbf3; }
    nav#menu form.searchform :-moz-placeholder {
      color: #acdbf3; }
    nav#menu form.searchform ::-moz-placeholder {
      color: #acdbf3; }
    nav#menu form.searchform ::-ms-input-placeholder {
      color: #acdbf3; }

header.main-header {
  height: 140px;
  border-top: solid 2px #1993DE;
  text-align: center; }
  header.main-header .container {
    position: relative;
    overflow: hidden; }
  header.main-header button {
    position: absolute;
    left: 0px;
    top: 44px;
    width: 32px;
    height: 30px;
    border: none;
    background-color: initial;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    text-indent: 32px;
    background: url("../img/hamburger.png");
    background-repeat: no-repeat; }
    header.main-header button.open {
      background-position: left center; }
    header.main-header button.close {
      background-position: right 2px center; }
  header.main-header a {
    display: inline-block; }
  header.main-header h1 {
    width: 200px;
    height: 55px;
    margin: 40px auto 0;
    background-image: url("../img/logotipo.jpg");
    background-size: 200px;
    background-repeat: no-repeat;
    text-indent: 101%;
    overflow: hidden; }
  header.main-header select {
    position: absolute;
    right: 0px;
    top: 44px;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 109px;
    height: 29px;
    border-radius: 0;
    border-color: #d8d8d8;
    outline: 0;
    color: #1993DE;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    cursor: pointer;
    background: url("../img/blue-arrow-select.png");
    background-repeat: no-repeat;
    background-position: 83px 11px;
    background-size: 12px; }

h2 {
  text-transform: uppercase;
  text-align: center;
  color: #1993DE;
  margin-bottom: 45px;
  font-size: 26px;
  font-weight: bold; }

.carousel {
  height: 420px;
  background: #eee;
  position: relative; }
  .carousel .carousel_stage {
    height: 420px;
    overflow: hidden; }
    .carousel .carousel_stage .slick-slide {
      height: 420px; }
      .carousel .carousel_stage .slick-slide img {
        margin: 0 auto; }
  .carousel .container {
    position: relative; }
  .carousel .carousel_nav {
    width: 300px;
    height: 270px;
    position: absolute;
    bottom: -40px;
    left: 80px;
    padding: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8); }
    .carousel .carousel_nav p.pagination, .carousel .carousel_nav .interna ul.text li.pagination, .interna ul.text .carousel .carousel_nav li.pagination {
      position: absolute;
      bottom: 26px;
      left: 49px;
      font-size: 14px;
      margin-bottom: 0; }
    .carousel .carousel_nav ul {
      list-style: none;
      height: 100%; }
    .carousel .carousel_nav h3 {
      font-size: 28px;
      line-height: 32px;
      text-transform: uppercase;
      margin-top: 0;
      font-weight: bold; }
    .carousel .carousel_nav p, .carousel .carousel_nav .interna ul.text li, .interna ul.text .carousel .carousel_nav li {
      margin-top: 10px;
      font-size: 14px; }
    .carousel .carousel_nav .slide {
      outline: none; }
    .carousel .carousel_nav .slick-arrow {
      position: absolute;
      width: 16px;
      text-indent: 17px;
      height: 30px;
      overflow: hidden;
      bottom: 0px;
      z-index: 10;
      border: none;
      cursor: pointer;
      outline: 0; }
      .carousel .carousel_nav .slick-arrow.slick-prev {
        left: 0px;
        background: url("../img/white-arrow-prev.png"); }
      .carousel .carousel_nav .slick-arrow.slick-next {
        left: 65px;
        background: url("../img/white-arrow-next.png"); }

main.home .nossosprodutos {
  padding-top: 100px; }
main.home .banner {
  width: 100%;
  height: 262px; }
  main.home .banner h3 {
    position: absolute;
    bottom: 97px;
    color: white;
    font-size: 24px;
    right: 0;
    width: 210px;
    padding-right: 40px;
    margin-right: 10px; }

.nossosprodutos ul {
  text-align: center;
  margin-bottom: 40px; }
  .nossosprodutos ul a {
    display: inline-block;
    vertical-align: top; }
  .nossosprodutos ul li {
    width: 140px;
    height: 145px;
    border: solid 1px #1993DE;
    display: inline-block;
    margin: 0 8px;
    border-radius: 3px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center center; }
    .nossosprodutos ul li.comunicacao {
      background: url("../img/produtos-com.png");
      background-repeat: no-repeat;
      background-position: center 28%; }
    .nossosprodutos ul li.navegacao {
      background: url("../img/produtos-nav.png");
      background-repeat: no-repeat;
      background-position: center 32%; }
    .nossosprodutos ul li.seguranca {
      background: url("../img/produtos-seg.png");
      background-repeat: no-repeat;
      background-position: center 40%; }
    .nossosprodutos ul li h3 {
      color: #7e7b79;
      font-size: 16px;
      font-weight: 400;
      margin-top: 110px; }

main.home .projetos {
  padding-top: 30px;
  padding-bottom: 120px; }

.container.lista {
  padding: 0; }

.projetos ul {
  width: 100%;
  overflow: hidden;
  text-align: center; }
  .projetos ul li {
    width: 220px;
    height: 320px;
    float: left;
    display: inline-block;
    border: solid 1px #e5e5e5;
    border-radius: 3px;
    vertical-align: top;
    margin: 0 10px 30px 10px;
    text-align: initial; }
    .projetos ul li header {
      width: 100%;
      height: 74px;
      margin-top: -1px;
      text-align: left;
      background: #C9DAEB;
      display: table; }
    .projetos ul li h3 {
      display: table-cell;
      padding: 5px 10px;
      vertical-align: middle;
      color: #528CBC;
      font-size: 20px; }
    .projetos ul li .info {
      padding: 12px 20px; }
      .projetos ul li .info h4 {
        color: #7E7B79;
        font-weight: 600;
        margin-top: 18px;
        font-size: 16px; }
      .projetos ul li .info p, .projetos .interna ul.text li .info li, .interna .projetos ul.text li .info li {
        color: #7E7B79;
        font-size: 14px; }
    .projetos ul li span.year {
      font-family: Bitter;
      font-size: 36px;
      color: #528CBC;
      letter-spacing: -0.5px; }
    .projetos ul li .client {
      display: inline-block;
      width: 86px;
      height: 38px;
      vertical-align: top;
      position: relative;
      padding-left: 14px; }
      .projetos ul li .client p, .projetos .interna ul.text li .client li, .interna .projetos ul.text li .client li {
        position: absolute;
        bottom: 0;
        color: #7E7B79;
        font-weight: 600;
        line-height: 16px;
        font-size: 14px;
        margin-bottom: 0; }

#marcas_parceiras {
  height: 344px;
  padding-top: 50px;
  background: #EEEEEE; }
  #marcas_parceiras h2 {
    margin-top: 0; }
  #marcas_parceiras ul.parceiras_carousel {
    width: 640px;
    margin: 0 auto; }
    #marcas_parceiras ul.parceiras_carousel li.parceiras_slide {
      height: 140px;
      background: url("../img/home-parceiras-ellipse.png");
      background-repeat: no-repeat;
      background-position: center center;
      display: inline-block;
      margin: 0 10px;
      outline: none;
      position: relative;
      overflow: hidden; }
      #marcas_parceiras ul.parceiras_carousel li.parceiras_slide img {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: auto;
        border-radius: 0 !important; }
  #marcas_parceiras .slick-arrow {
    position: absolute;
    width: 30px;
    height: 55px;
    border: none;
    cursor: pointer;
    text-indent: 31px;
    overflow: hidden;
    top: 42px;
    outline: none; }
    #marcas_parceiras .slick-arrow.slick-next {
      right: -70px;
      background: url("../img/blue-arrow-next.png"); }
    #marcas_parceiras .slick-arrow.slick-prev {
      left: -70px;
      background: url("../img/blue-arrow-prev.png"); }

footer {
  height: 120px;
  clear: both; }
  footer ul {
    font-family: Bitter;
    background: #1993DE;
    color: white;
    height: 80px;
    text-align: center;
    display: block; }
    footer ul li {
      display: inline-block;
      margin: 0 20px;
      font-size: 16px;
      text-transform: uppercase;
      position: relative; }
      footer ul li a {
        text-decoration: none;
        line-height: 80px; }
        footer ul li a:hover {
          text-decoration: underline; }
      footer ul li:after {
        content: '/';
        position: absolute;
        top: 29px;
        right: -26px; }
      footer ul li:last-of-type:after {
        display: none; }
  footer .subfooter {
    display: block;
    text-align: center;
    line-height: 46px;
    font-size: 12px;
    color: #7e7b79;
    background-color: white; }

.interna section {
  margin-bottom: 80px; }
.interna p, .interna ul.text li {
  font-size: 20px;
  color: #7e7b79;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 10px; }
.interna ul.text {
  list-style: none;
  padding-left: 20px;
  margin: 30px 0; }
  .interna ul.text li {
    font-size: 18px;
    line-height: 20px; }
    .interna ul.text li:before {
      content: "ÔÇó ";
      color: #1993DE;
      font-size: 18px; }
.interna .graybg {
  background-color: #eee;
  padding: 50px 0; }
  .interna .graybg .container {
    overflow: hidden; }
  .interna .graybg h3 {
    font-size: 32px;
    line-height: 40px;
    color: #1993DE;
    text-transform: uppercase; }
  .interna .graybg h4 {
    font-size: 14px;
    line-height: 24px;
    color: #1993DE;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0; }
  .interna .graybg p, .interna .graybg ul.text li, .interna ul.text .graybg li {
    font-size: 14px;
    line-height: 24px;
    color: #7e7b79;
    margin-bottom: 5px; }
.interna a.pagelink {
  display: inline-block;
  margin-right: 0px;
  background: #1993DE;
  position: relative; }
  .interna a.pagelink:hover img {
    opacity: 0.9; }
  .interna a.pagelink h3 {
    position: absolute;
    font-size: 27px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    top: 30px;
    left: 100px;
    line-height: 28px; }

section.titulo {
  width: 100%;
  height: 200px;
  background: #eee;
  margin-bottom: 80px;
  background-position: center center;
  background-repeat: no-repeat;
  background-position: center center; }
  section.titulo .container {
    position: relative;
    height: 100%; }
  section.titulo .title-box {
    display: table;
    width: 220px;
    height: 160px;
    position: absolute;
    left: 10px;
    bottom: -40px;
    background-color: RGBA(37, 146, 228, 0.8); }
  section.titulo h1 {
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold; }

.produtos .filtros {
  height: 150px; }

.projetos .filtros {
  height: 80px; }

section.filtros {
  margin-bottom: 50px; }
  section.filtros form {
    display: block;
    height: 100%;
    background-color: #eeeeee;
    padding: 20px; }
    section.filtros form select {
      width: 220px;
      height: 40px;
      margin: 0 20px;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: none;
      border-radius: 0;
      border: solid 1px #d8d8d8;
      outline: 0;
      color: #1993DE;
      padding-left: 10px;
      font-weight: 400;
      font-size: 13px;
      cursor: pointer;
      background-color: white;
      background-image: url("../img/blue-arrow-select.png");
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 12px;
      font-family: Open Sans; }
    section.filtros form input[type="text"] {
      font-family: Open Sans;
      -webkit-appearance: none;
      width: 484px;
      height: 40px;
      border: 1px solid #d8d8d8;
      border-radius: 0;
      outline: 0;
      color: #1993DE;
      padding-left: 10px;
      padding-right: 60px;
      font-weight: 400;
      font-size: 13px;
      margin-top: 30px;
      float: left;
      margin-left: 20px; }
    section.filtros form input#btnBuscarProduto {
      float: left;
      width: 60px;
      height: 38px;
      margin: 31px 0 0 -61px;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: white;
      border: none;
      cursor: pointer;
      font-size: 13px;
      color: #1993DE;
      outline: 0;
      font-family: Bitter; }
    section.filtros form input#btnCleanProduto {
      -webkit-appearance: none;
      -moz-appearance: none;
      border: none;
      background: transparent;
      font-family: Bitter;
      color: #1993de;
      font-size: 13px;
      outline: 0;
      cursor: pointer;
      height: 40px; }
    section.filtros form ::-webkit-input-placeholder {
      color: #1993DE; }
    section.filtros form :-moz-placeholder {
      color: #1993DE; }
    section.filtros form ::-moz-placeholder {
      color: #1993DE; }
    section.filtros form :-ms-input-placeholder {
      color: #1993DE; }

article.busca {
  border-top: solid 1px #d8d8d8;
  padding-top: 55px; }
  article.busca h2 {
    font-size: 24px;
    font-family: Bitter;
    font-weight: 700;
    color: #424140;
    text-transform: initial;
    display: inline-block;
    text-align: left; }
    article.busca h2 .numero_de_resultados {
      font-size: 32px;
      color: #1993DE; }
  article.busca ul li.resultado {
    width: 300px;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
    color: #7e7b79; }
    article.busca ul li.resultado figure {
      width: 300px;
      height: auto;
      background: #eee;
      overflow: hidden;
      border-radius: 3px; }
    article.busca ul li.resultado h3 {
      font-size: 18px;
      line-height: 20px;
      text-transform: uppercase;
      margin-top: 20px;
      font-family: Open Sans;
      font-weight: 600; }
    article.busca ul li.resultado p, article.busca .interna ul.text li.resultado li, .interna article.busca ul.text li.resultado li {
      font-size: 14px;
      color: #7e7b79;
      line-height: 20px;
      margin-top: 5px; }
    article.busca ul li.resultado:nth-child(3n) {
      margin-right: 0; }

article.produtos ul {
  list-style: none;
  overflow: hidden;
  border-bottom: solid 1px #d8d8d8;
  margin-bottom: 30px; }
article.produtos li.produto {
  float: left;
  margin-right: 20px;
  vertical-align: top;
  margin-bottom: 10px;
  width: 220px;
  height: 390px; }
  article.produtos li.produto:nth-child(4n) {
    margin-right: 0; }
  article.produtos li.produto figure {
    display: block;
    width: 220px;
    height: 220px;
    border: solid 1px #d8d8d8;
    border-radius: 3px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden; }
    article.produtos li.produto figure:hover {
      background-color: #1993de; }
      article.produtos li.produto figure:hover img {
        opacity: 0.2; }
      article.produtos li.produto figure:hover span.ver_manual {
        display: block; }
    article.produtos li.produto figure span.ver_manual {
      display: none;
      position: absolute;
      width: 60%;
      height: 40px;
      margin-top: 10px;
      border: solid 1px #fff;
      color: #fff;
      text-align: center;
      margin: 0 auto;
      text-decoration: none;
      line-height: 36px;
      border-radius: 3px;
      top: 89px;
      left: 44px;
      font-family: Bitter; }
    article.produtos li.produto figure img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 100%;
      width: auto; }
  article.produtos li.produto span.categoria {
    display: inline-block;
    padding: 0 10px;
    border: solid 1px #1993DE;
    color: #1993DE;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    line-height: 30px;
    border-radius: 3px;
    cursor: default; }
  article.produtos li.produto h3 {
    margin-top: 15px;
    font-family: Open Sans;
    color: #7e7b79; }
    article.produtos li.produto h3 a {
      text-decoration: none; }
      article.produtos li.produto h3 a:hover {
        text-decoration: underline; }
  article.produtos li.produto p.marca, article.produtos li.produto .interna ul.text li.marca, .interna ul.text article.produtos li.produto li.marca {
    color: #7e7b79;
    font-size: 14px;
    line-height: 22px; }

main.ondeestamos .map-placeholder {
  width: 320px;
  height: 186px;
  margin: 20px 0;
  background-color: #ccc; }

article.novidades ul {
  overflow: hidden;
  list-style: none;
  border-bottom: solid 1px #d8d8d8;
  margin-bottom: 30px; }
  article.novidades ul li.novidade {
    width: 300px;
    height: 400px;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
    color: #7e7b79; }
    article.novidades ul li.novidade a {
      text-decoration: none; }
      article.novidades ul li.novidade a:hover h3 {
        text-decoration: underline; }
    article.novidades ul li.novidade figure {
      width: 300px;
      height: 250px;
      background: #eee;
      overflow: hidden;
      border-radius: 3px; }
      article.novidades ul li.novidade figure img {
        height: 100%;
        width: auto;
        margin: 0 auto;
        display: block; }
    article.novidades ul li.novidade h3 {
      font-size: 18px;
      line-height: 20px;
      text-transform: uppercase;
      margin-top: 20px;
      font-family: Open Sans;
      font-weight: 600; }
    article.novidades ul li.novidade p, article.novidades .interna ul.text li.novidade li, .interna article.novidades ul.text li.novidade li {
      font-size: 14px;
      color: #7e7b79;
      line-height: 20px;
      margin-top: 5px; }
    article.novidades ul li.novidade:nth-child(3n) {
      margin-right: 0; }
  article.novidades ul li.newsletter {
    width: 300px;
    height: 252px;
    padding: 20px;
    float: left;
    background: #eee;
    border-radius: 3px; }
    article.novidades ul li.newsletter h3 {
      font-size: 24px;
      margin-top: 15px;
      font-weight: bold;
      line-height: initial; }
    article.novidades ul li.newsletter form {
      margin-top: 25px; }
    article.novidades ul li.newsletter input[type="text"] {
      width: 100%;
      height: 40px;
      padding-left: 10px;
      font-size: 13px;
      outline: none;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      border: solid 1px #a9a9a9; }
    article.novidades ul li.newsletter input[type="submit"] {
      margin-top: 20px;
      width: 84px;
      height: 35px;
      display: block;
      background: transparent;
      border: solid 1px #1993DE;
      color: #1993DE;
      font-family: Bitter;
      font-weight: 700;
      font-size: 13px;
      text-align: center;
      text-decoration: none;
      border-radius: 3px;
      outline: none;
      cursor: pointer; }

main.novidade article.novidade {
  width: 620px;
  float: left;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px #d8d8d8; }
  main.novidade article.novidade h1 {
    margin-bottom: 25px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700; }
  main.novidade article.novidade img {
    margin-bottom: 30px;
    max-width: 100%;
    height: auto; }
  main.novidade article.novidade p, main.novidade article.novidade .interna ul.text li, .interna ul.text main.novidade article.novidade li {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 24px; }
main.novidade aside.recentes {
  width: 220px;
  float: right; }
  main.novidade aside.recentes ul {
    list-style: none; }
  main.novidade aside.recentes .newsletter {
    width: 100%;
    height: 200px;
    padding: 10px 20px;
    float: left;
    background: #eee;
    border-radius: 3px;
    margin-bottom: 30px; }
    main.novidade aside.recentes .newsletter h3 {
      font-size: 24px;
      line-height: 27px;
      font-weight: bold;
      margin: 0; }
    main.novidade aside.recentes .newsletter form {
      margin-top: 10px; }
    main.novidade aside.recentes .newsletter input[type="text"] {
      width: 100%;
      height: 40px;
      padding-left: 10px;
      font-size: 13px;
      outline: none;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px; }
    main.novidade aside.recentes .newsletter input[type="submit"] {
      margin-top: 10px;
      width: 84px;
      height: 35px;
      display: block;
      background: transparent;
      border: solid 1px #1993DE;
      color: #1993DE;
      font-family: Bitter;
      font-weight: 700;
      font-size: 13px;
      text-align: center;
      text-decoration: none;
      border-radius: 3px;
      outline: none;
      cursor: pointer; }
  main.novidade aside.recentes li.recente {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    color: #7e7b79;
    margin-bottom: 20px; }
    main.novidade aside.recentes li.recente figure {
      width: 100%;
      height: 180px;
      background: #eee;
      overflow: hidden;
      border-radius: 3px; }
      main.novidade aside.recentes li.recente figure img {
        height: 100%;
        width: auto;
        display: block;
        margin: 0 auto; }
    main.novidade aside.recentes li.recente h3 {
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      margin-top: 10px;
      font-family: Open Sans;
      font-weight: 600; }
    main.novidade aside.recentes li.recente p, main.novidade aside.recentes li.recente .interna ul.text li, .interna ul.text main.novidade aside.recentes li.recente li {
      font-size: 13px;
      color: #7e7b79;
      line-height: 20px;
      margin-top: 5px; }

.news_tooltip {
  position: absolute;
  right: 0;
  z-index: 600; }
  .news_tooltip #news_button {
    display: none;
    width: 100px;
    height: 90px;
    border: none;
    font-family: Bitter;
    background-color: #1993DE;
    color: white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 14px;
    padding-top: 45px;
    background-image: url("../img/chat.png");
    background-repeat: no-repeat;
    background-position: center 20px; }
  .news_tooltip .lista {
    width: 260px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: white;
    padding: 20px 30px;
    padding-bottom: 0;
    position: absolute;
    top: 0px;
    right: -260px; }
    .news_tooltip .lista #close_tooltip {
      display: none;
      width: 34px;
      height: 34px;
      border-top-left-radius: 3px;
      position: absolute;
      top: -34px;
      right: 0;
      background-color: #1993DE;
      background-image: url("../img/close.png");
      background-repeat: no-repeat;
      background-position: center center;
      border: none;
      outline: none;
      cursor: pointer; }
    .news_tooltip .lista ul {
      list-style: none; }
      .news_tooltip .lista ul li {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: solid 1px #d8d8d8; }
        .news_tooltip .lista ul li:last-of-type {
          border: none;
          margin-bottom: 0; }
        .news_tooltip .lista ul li figure {
          width: 100%;
          height: 120px;
          background: #eee;
          border-radius: 3px; }
          .news_tooltip .lista ul li figure img {
            max-height: 100%;
            width: auto;
            display: block;
            margin: 0 auto; }
        .news_tooltip .lista ul li h4 {
          font-family: Bitter;
          font-size: 16px;
          color: #1993DE;
          text-transform: uppercase;
          margin-top: 10px; }
        .news_tooltip .lista ul li p, .news_tooltip .lista .interna ul.text li li, .interna .news_tooltip .lista ul.text li li {
          margin-top: 10px;
          font-size: 12px;
          color: #7e7b79; }
    .news_tooltip .lista .newsletter {
      width: 220px;
      height: 146px;
      padding: 20px;
      float: left;
      background: #eee;
      border-bottom-left-radius: 3px;
      box-sizing: initial;
      margin: 0 -30px -20px -30px; }
      .news_tooltip .lista .newsletter h3 {
        font-size: 15px; }
      .news_tooltip .lista .newsletter form {
        margin-top: 15px; }
      .news_tooltip .lista .newsletter input[type="text"] {
        width: 100%;
        height: 40px;
        padding-left: 10px;
        font-size: 13px;
        outline: none;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px; }
      .news_tooltip .lista .newsletter input[type="submit"] {
        margin-top: 15px;
        width: 84px;
        height: 35px;
        display: block;
        background: transparent;
        border: solid 1px #1993DE;
        color: #1993DE;
        font-family: Bitter;
        font-weight: 700;
        font-size: 13px;
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
        outline: none;
        cursor: pointer; }

.emailNews {
  width: 100%;
  padding-left: 10px;
  height: 40px;
  font-size: 13px;
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

.allNovidades {
  width: 100%;
  height: 40px;
  font-family: Bitter;
  margin-top: 10px;
  display: block;
  border: solid 1px #1993DE;
  color: #1993DE;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  line-height: 36px;
  border-radius: 3px; }

article.contato {
  margin-bottom: 100px; }
  article.contato .container.mini {
    display: inline-block;
    vertical-align: top;
    margin-right: 140px; }
  article.contato .local .map-placeholder {
    width: 320px;
    height: 186px;
    margin: 20px 0;
    background-color: #ccc; }
  article.contato .local p, article.contato .local .interna ul.text li, .interna ul.text article.contato .local li {
    font-size: 14px;
    line-height: 24px;
    color: #7e7b79;
    margin-bottom: 5px; }
  article.contato .local h4 {
    font-size: 14px;
    line-height: 24px;
    color: #1993DE;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0; }

.formulario p, .formulario .interna ul.text li, .interna ul.text .formulario li {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #7e7b79; }
.formulario input {
  width: 320px;
  height: 40px;
  border: solid 1px #d8d8d8;
  padding-left: 10px;
  font-family: Open Sans !important;
  color: #7e7b79 !important;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }
.formulario textarea {
  width: 320px;
  height: 140px;
  border: solid 1px #d8d8d8;
  resize: none;
  padding: 15px 10px;
  font-family: Open Sans !important;
  color: #7e7b79 !important;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }
.formulario input[type='submit'] {
  width: 220px;
  height: 38px;
  background: transparent;
  border: solid 1px #1993DE;
  color: #1993DE !important;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  line-height: 36px;
  border-radius: 3px;
  font-family: Bitter !important;
  font-size: 14px; }
.formulario select {
  width: 320px;
  height: 40px;
  border: solid 1px #d8d8d8;
  padding-left: 6px;
  background-color: transparent;
  font-family: Open Sans;
  font-family: Open Sans !important;
  color: #7e7b79 !important; }
  .formulario select option {
    font-family: Open Sans; }

.wp-pagenavi a.page, .wp-pagenavi span.current {
  width: 35px;
  height: 20px;
  padding-right: 5px;
  padding-left: 9px;
  display: inline-block;
  text-align: center;
  position: relative; }
.wp-pagenavi span.current {
  font-size: 20px;
  color: #1993DE; }

/*# sourceMappingURL=estilo.css.map */
