@import "_slick";

$az1: #1993DE;
$az2: #528CBC;
$az3: #C9DAEB;
$bg1: #EEEEEE;
$cin1: #7e7b79;
$cin2: #d8d8d8;

body {
	font-family: Open Sans;
	overflow-x: hidden;

	// // para testar com psds
	// background-image: url('../img/ref/home.jpg');
	// background-position: top center;
	// opacity: 0.8;
}
h1, h2, h3 {
	font-family: Bitter;
}
h4, p {
	font-family: Open Sans;
}

*, *:before, *:after {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pull-left {
	float: left;
}
.pull-right	{
	float: right;
}

a {
	color: inherit;

	&:hover {
		text-decoration: underline;
	}
}
.container {
	width: 940px;
	margin: 0 auto;
	position: relative;

	&.medium {
		width: 800px;
	}
	&.mini {
		width: 320px;
		margin: initial;
	}
}
#page {
	position: relative;
}
nav#menu {
	width: 600px;
	height: 100%;
	background: $az1;
	position: absolute;
	left: -600px;

	ul {
		width: 300px;
		float: right;
		padding: 26px 56px 56px;
		list-style: none;

		li {
			color: white;
			font-family: Bitter;

			h2 {
				color: white;
				text-align: left;
				margin: 30px 0 10px;
			}

			a {
				line-height: 26px;
			}
		}
	}
}
header.main-header {
	height: 140px;
	border-top: solid 2px $az1;
	text-align: center;

	.container {
		position: relative;
		overflow: hidden;
	}
	button {
		position: absolute;
		left: 0px;
		top: 44px;
		width: 32px;
		height: 30px;
		border: none;
		background-color: initial;
		overflow: hidden;
		cursor: pointer;
		outline: none;
		text-indent: 32px;
		background: url('../img/hamburger.png');
		background-repeat: no-repeat;

		&.open {
			background-position: left center;
		}
		&.close {
			background-position: right center;
		}
	}
	a {
		display: inline-block;
	}
	h1 {
		width: 200px;
		height: 55px;
		margin: 40px auto 0;
		background-image: url('../img/logotipo.jpg');
		background-size: 200px;
		background-repeat: no-repeat;
		text-indent: 101%;
		overflow: hidden;
	}
	select {
		position: absolute;
		right: 0px;
		top: 44px;
		-webkit-appearance: none;
		-moz-appearance: none;
		width: 109px;
		height: 29px;
		border-radius: 0;
		border-color: $az1;
		outline: 0;
		color: $az1;
		padding-left: 10px;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 10px;
		cursor: pointer;
		background: url('../img/blue-arrow-select.png');
		background-repeat: no-repeat;
		background-position: 83px 11px;
		background-size: 12px;
	}
}
h2 {
	text-transform: uppercase;
	text-align: center;
	color: $az1;
	margin-bottom: 45px;
	font-size: 26px;
}
.carousel {
	height: 420px;
	background: #eee;
	position: relative;

	.carousel_stage {
		height: 420px;
		overflow: hidden;

		.slick-slide {
			img {
				margin: 0 auto;
			}
		}
	}
	.container {
		position: relative;
	}
	.carousel_nav {
		width: 300px;
		height: 250px;
		position: absolute;
		bottom: -40px;
		left: 80px;
		padding: 20px;
		color: #fff;
		background: rgba(0,0,0,0.8);

		h3 {
			font-size: 32px;
		}
		.slide {
			outline: none;
		}
		.slick-arrow {
			position: absolute;
			width: 16px;
			text-indent: 17px;
			height: 30px;
			overflow: hidden;
			bottom: 20px;
			z-index: 10;
			border: none;
			cursor: pointer;
			outline: 0;

			&.slick-prev {
				left: 20px;
				background: url('../img/white-arrow-prev.png');
			}
			&.slick-next {
				left: 80px;
				background: url('../img/white-arrow-next.png');
			}
		}
	}
}
main.home {
	.nossosprodutos {
		padding-top: 100px;
		padding-bottom: 50px;
	}
	.banner {
		width: 100%;
		height: 262px;
	}
}
.nossosprodutos {
	ul {
		text-align: center;
		margin-bottom: 40px;

		a {
			display: inline-block;
			vertical-align: top;

			// &:hover {
			// 	li {
			// 		background-color: $az1;

			// 		h3 {
			// 			color: white;
			// 		}
			// 	}
			// }
		}
		li {
			width: 140px;
			height: 145px;
			border: solid 1px $az1;
			display: inline-block;
			margin: 0 8px;
			border-radius: 3px;
			vertical-align: top;
			background-repeat: no-repeat;
			background-position: center center;

			&.comunicacao {
				background: url('../img/produtos-com.png');
				background-repeat: no-repeat;
				background-position: center 28%;
			}
			&.navegacao {
				background: url('../img/produtos-nav.png');
				background-repeat: no-repeat;
				background-position: center 32%;
			}
			&.seguranca {
				background: url('../img/produtos-seg.png');
				background-repeat: no-repeat;
				background-position: center 40%;
			}

			h3 {
				color: $cin1;
				font-size: 16px;
				font-weight: 400;
				margin-top: 110px;
			}
		}
	}
}
main.home {
	.projetos {
		padding-top: 30px;
		padding-bottom: 120px;
	}
}
.projetos {
	ul {
		width: 100%;

		li {
			width: 300px;
			height: 320px;
			display: inline-block;
			margin: 0 15px 30px 0;
			border: solid 1px #e5e5e5;
			border-radius: 3px;
			vertical-align: top;

			&:nth-child(3n) {
				margin-right: 0;
			}

			header {
				width: 100%;
				height: 74px;
				margin-top: -1px;
				text-align: center;
				background: $az3;
				display: table;
			}
			h3 {
				display: table-cell;
				padding: 0 10px;
				vertical-align: middle;
				color: $az2;
			}
			.info {
				padding: 10px 20px;

				h4 {
					color: #7E7B79;
					font-weight: 600;
					margin-top: 18px;
					font-size: 16px;
				}
				p {
					color: #7E7B79;
					font-size: 14px;
				}
			}
			span.year {
				font-family: Bitter;
				font-size: 64px;
				color: $az2;
				letter-spacing: 0.5px;
			}
			.client {
				display: inline-block;
				width: 100px;
				height: 63px;
				vertical-align: top;
				position: relative;
				padding-left: 10px;

				p {
					position: absolute;
					bottom: 0;
					color: #7E7B79;
					font-weight: 600;
					line-height: 16px;
					font-size: 16px;
				}
			}
		}
	}
	a {
		width: 180px;
		height: 40px;
		margin-top: 10px;
		display: block;
		border: solid 1px $az1;
		color: $az1;
		font-weight: 600;
		text-align: center;
		margin: 0 auto;
		text-decoration: none;
	    line-height: 36px;
	    border-radius: 3px;
	}
}
#marcas_parceiras {
	height: 344px;
	padding-top: 50px;
	background: #EEEEEE;

	ul {
		width: 640px;
		margin: 0 auto;

		li {
			height: 140px;
			background: url('../img/home-parceiras-ellipse.png');
			background-repeat: no-repeat;
			background-position: center center;
			display: inline-block;
			margin: 0 10px;
			outline: none;
			position: relative;
			overflow: hidden;

			img {
				margin: auto;
				position: absolute;
				top: 0; left: 0; bottom: 0; right: 0;
				width: 70%;
			}
		}
	}
	.slick-arrow {
		position: absolute;
		width: 30px;
		height: 55px;
		border: none;
		cursor: pointer;
		text-indent: 31px;
		overflow: hidden;
		top: 42px;
		outline: none;

		&.slick-next {
			right: -70px;
			background: url('../img/blue-arrow-next.png');
		}
		&.slick-prev {
			left: -70px;
			background: url('../img/blue-arrow-prev.png');

		}
	}
}
footer {
	height: 120px;
	clear: both;

	ul {
		font-family: Bitter;
		background: $az1;
		color: white;
		height: 80px;
		text-align: center;
		display: block;

		li {
			display: inline-block;
			margin: 0 20px;
			font-size: 16px;
			text-transform: uppercase;
			position: relative;

			a {
				text-decoration: none;
				line-height: 80px;

				&:hover {
					text-decoration: underline;
				}
			}

			&:after {
				content: '/';
				position: absolute;
				top: 29px;
				right: -26px;
			}
			&:last-of-type:after {
				display: none;
			}
		}
	}
	.subfooter {
		display: block;
		text-align: center;
		line-height: 46px;
		font-size: 12px;
		color: $cin1;
	}
}
.interna {
	section {
		margin-bottom: 80px;
	}
	p {
		font-size: 20px;
		color: $cin1;
		font-weight: 400;
		line-height: 32px;
		margin-bottom: 10px;
	}
	ul.text {
		list-style: none;
		padding-left: 20px;
		margin: 30px 0;

		li {
			@extend p;
			font-size: 18px;
			line-height: 20px;

			&:before {
			    content: "• ";
			    color: $az1;
			    font-size: 18px;
			}
		}
	}
	.graybg {
		background-color: #eee;
		padding: 50px 0;

		.container {
			overflow:hidden;
		}
		h3 {
			font-size: 32px;
			line-height: 40px;
			color: $az1;
			text-transform: uppercase;
		}
		h4 {
			font-size: 14px;
			line-height: 24px;
			color: $az1;
			text-transform: uppercase;
		}
		p {
			font-size: 14px;
			line-height: 24px;
			color: $cin1;
			margin-bottom: 5px;
		}
	}
	a.pagelink {
		display: inline-block;
		margin-right: 15px;
		background: $az1;

		&:hover {
			img {
				opacity: 0.9;
			}
		}
	}
}
section.titulo {
	width: 100%;
	height: 200px;
	background: #eee;
	margin-bottom: 80px;
	background-position: center center;
	background-repeat: no-repeat;
	background-position: center center;

	.container {
		position: relative;
		height: 100%;
	}
	.title-box {
		display: table;
		width: 220px;
		height: 160px;
		position: absolute;
		left: 0;
		bottom: -40px;
		background-color: RGBA(37, 146, 228, 0.8)
	}
	h1 {
		color: white;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		text-transform: uppercase;
		font-size: 24px;
	}
}
.produtos .filtros {
	height: 150px;
}
.projetos .filtros {
	height: 80px;
}
section.filtros {
	margin-bottom: 50px;

	form {
		display: block;
		height: 100%;
		background-color: #eeeeee;
		text-align: center;
		padding-top: 20px;

		select {
			width: 220px;
			height: 40px;
			margin: 0 25px;

			-webkit-appearance: none;
			-moz-appearance: none;
			border: none;
			border-radius: 0;
			border: solid 1px $az1;
			outline: 0;
			color: $az1;
			padding-left: 10px;
			font-weight: 400;
			font-size: 13px;
			cursor: pointer;
			background-color: white;
			background-image: url('../img/blue-arrow-select.png');
			background-repeat: no-repeat;
			background-position: right 10px center;
			background-size: 12px;
			font-family: Open Sans;
		}
		input[type="text"] {
			font-family: Open Sans;
			-webkit-appearance: none;
			width: 500px;
			height: 40px;
			border: 1px solid $cin2;
			border-radius: 0;
			outline: 0;
			color: $az1;
			padding-left: 10px;
			font-weight: 400;
			font-size: 13px;
			margin-top: 30px;
			float: left;
			margin-left: 86px;
		}
		input[type="submit"] {
			float: left;
			width: 60px;
			height: 38px;
			margin: 31px 0 0 -61px;
			-webkit-appearance: none;
			-moz-appearance: none;
			background-color: white;
			border: none;
			cursor: pointer;
			font-size: 0;
			outline: 0;
			background: url('../img/btn_buscar.png');
		}
		::-webkit-input-placeholder {
		   color: $az1;
		}

		:-moz-placeholder {
		   color: $az1;
		}

		::-moz-placeholder {
		   color: $az1;
		}

		:-ms-input-placeholder {
		   color: $az1;
		}
	}
}
article.produtos {
	ul {
		list-style: none;
		overflow: hidden;
		border-bottom: solid 1px $cin2;
		margin-bottom: 30px;
	}
	li.produto {
		float: left;
		margin-right: 20px;
		vertical-align: top;
		margin-bottom: 40px;
		width: 220px;

		&:nth-child(4n) {
			margin-right: 0;
		}

		figure {
			display: block;
			width: 220px;
			height: 220px;
			border: solid 1px $cin2;
			border-radius: 3px;
			margin-bottom: 20px;
			position: relative;

			img {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
			}
		}
		a.categoria {
			display: inline-block;
			padding: 0 10px;
			border: solid 1px $az1;
			color: $az1;
			font-weight: 600;
			font-size: 14px;
			text-align: center;
			margin: 0 auto;
			text-decoration: none;
		    line-height: 30px;
		    border-radius: 3px;

		    &:hover {
		    	background-color: $az1;
		    	color: white;
		    }
		}
		h3 {
			margin-top: 20px;
			font-family: Open Sans;
			color: $cin1;
		}
		p {
			color: $cin1;
		}
	}
}
main.ondeestamos {
	.map-placeholder {
		width: 320px;
		height: 186px;
		margin: 20px 0;
		background-color: #ccc;
	}
}
article.novidades {
	ul {
		overflow: hidden;
		list-style: none;
		border-bottom: solid 1px $cin2;
		margin-bottom: 30px;

		li.novidade {
			width: 300px;
			height: 400px;
			float: left;
			margin-right: 20px;
			margin-bottom: 30px;
			color: $cin1;

			figure {
				width: 300px;
				height: 252px;
				background: #eee;
				overflow: hidden;
				border-radius: 3px;
			}
			h3 {
				font-size: 18px;
				line-height: 20px;
				text-transform: uppercase;
				margin-top: 20px;
				font-family: Open Sans;
				font-weight: 600;
			}
			p {
				font-size: 14px;
				color: $cin1;
				line-height: 20px;
				margin-top: 5px;
			}

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
		li.newsletter {
			width: 300px;
			height: 252px;
			padding: 20px;
			float: left;
			background: #eee;
			border-radius: 3px;

			h3 {
				font-size: 24px;
				margin-top: 15px;
			}
			form {
				margin-top: 25px;
			}
			input[type="text"] {
				width: 100%;
				height: 40px;
				padding-left: 10px;
				font-size: 13px;
				outline: none;
			}
			input[type="submit"] {
				margin-top: 20px;
				width: 84px;
				height: 35px;
				display: block;
				background: transparent;
				border: solid 1px $az1;
				color: $az1;
				font-family: Bitter;
				font-weight: 700;
				font-size: 13px;
				text-align: center;
				text-decoration: none;
			    border-radius: 3px;
			    outline: none;
			    cursor: pointer;
			}
		}
	}
}
main.novidade {
	.container {
		overflow: hidden;
	}
	article.novidade {
		width: 620px;
		float: left;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: solid 1px $cin2;

		h1 {
			margin-bottom: 25px;
			font-size: 24px;
			text-transform: uppercase;
			font-weight: 700;
		}
		img {
			margin-bottom: 30px;
		}
		p {
			margin-bottom: 30px;
			font-size: 14px;
			line-height: 24px;
		}
	}
	aside.recentes {
		width: 220px;
		float: right;

		ul {
			list-style: none;
		}
		li.newsletter {
			width: 100%;
			height: 200px;
			padding: 10px 20px;
			float: left;
			background: #eee;
			border-radius: 3px;
			margin-bottom: 30px;

			h3 {
				font-size: 24px;
				line-height: 27px;
			}
			form {
				margin-top: 10px;
			}
			input[type="text"] {
				width: 100%;
				height: 40px;
				padding-left: 10px;
				font-size: 13px;
				outline: none;
			}
			input[type="submit"] {
				margin-top: 10px;
				width: 84px;
				height: 35px;
				display: block;
				background: transparent;
				border: solid 1px $az1;
				color: $az1;
				font-family: Bitter;
				font-weight: 700;
				font-size: 13px;
				text-align: center;
				text-decoration: none;
			    border-radius: 3px;
			    outline: none;
			    cursor: pointer;
			}
		}
		li.recente {
			width: 100%;
			float: left;
			margin-bottom: 30px;
			color: $cin1;
			margin-bottom: 20px;

			figure {
				width: 100%;
				height: 180px;
				background: #eee;
				overflow: hidden;
				border-radius: 3px;
			}
			h3 {
				font-size: 16px;
				line-height: 20px;
				text-transform: uppercase;
				margin-top: 10px;
				font-family: Open Sans;
				font-weight: 600;
			}
			p {
				font-size: 13px;
				color: $cin1;
				line-height: 20px;
				margin-top: 5px;
			}
		}
	}
}
.news_tooltip {
	position: fixed;
	top: 200px;
	right: 0;
	z-index: 600;
	width: 260px;
	min-height: 200px;

	#news_button {
		width: 100px;
		height: 90px;
		border: none;
		font-family: Bitter;
		background-color: $az1;
		color: white;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		outline: none;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		font-size: 14px;
		padding-top: 45px;
		background-image: url('../img/chat.png');
		background-repeat: no-repeat;
		background-position: center 20px;
	}
	.lista {
		width: 260px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		background: white;
		padding: 20px 30px;
		position: absolute;
		top: 0;
		right: -260px;

		#close_tooltip {
			display: none;
			width: 34px;
			height: 34px;
			border-top-left-radius: 3px;
			position: absolute;
			top: -34px;
			right: 0;
			background-color: $az1;
			background-image: url('../img/close.png');
			background-repeat: no-repeat;
			background-position: center center;
			border: none;
			outline: none;
			cursor: pointer;
		}
		ul {
			list-style: none;

			li {
				padding-bottom: 15px;
				margin-bottom: 15px;
				border-bottom: solid 1px $cin2;

				&:last-of-type {
					border: none;
					margin-bottom: 0;
				}

				figure {
					width: 100%;
					height: 120px;
					background: #eee;
					border-radius: 3px;
				}
				h4 {
					font-family: Bitter;
					font-size: 16px;
					color: $az1;
					text-transform: uppercase;
					margin-top: 10px;
				}
				p {
					margin-top: 10px;
					font-size: 12px;
					color: $cin1;
				}
			}
		}
		.newsletter {
			width: 220px;
			height: 146px;
			padding: 20px;
			float: left;
			background: #eee;
			border-bottom-left-radius: 3px;
			box-sizing: initial;
			margin: 0 -30px -20px -30px;

			h3 {
				font-size: 15px;
			}
			form {
				margin-top: 15px;
			}
			input[type="text"] {
				width: 100%;
				height: 40px;
				padding-left: 10px;
				font-size: 13px;
				outline: none;
			}
			input[type="submit"] {
				margin-top: 15px;
				width: 84px;
				height: 35px;
				display: block;
				background: transparent;
				border: solid 1px $az1;
				color: $az1;
				font-family: Bitter;
				font-weight: 700;
				font-size: 13px;
				text-align: center;
				text-decoration: none;
			    border-radius: 3px;
			    outline: none;
			    cursor: pointer;
			}
		}
	}
}

article.contato {
	margin-bottom: 100px;

	.container.mini {
		display: inline-block;
		vertical-align: top;
		margin-right: 140px;
	}
	.formulario {
		p {
			font-family: Open Sans;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			color: $cin1;
		}
		input {
			width: 320px;
			height: 40px;
			border: solid 1px $cin2;
		}
		textarea {
			width: 320px;
			height: 140px;
			border: solid 1px $cin2;
			resize: none;
		}
		input[type='submit'] {
			width: 220px;
			height: 38px;
			background: transparent;
			border: solid 1px $az1;
			color: $az1;
			font-weight: 600;
			text-align: center;
			margin: 0 auto;
			text-decoration: none;
		    line-height: 36px;
		    border-radius: 3px;
		}
	}
	.local {
		.map-placeholder {
			width: 320px;
			height: 186px;
			margin: 20px 0;
			background-color: #ccc;
		}
		p {
			font-size: 14px;
			line-height: 24px;
			color: #7e7b79;
			margin-bottom: 5px;
		}
		h4 {
			font-size: 14px;
			line-height: 24px;
			color: $az1;
			text-transform: uppercase;
		}
	}
}
article.busca {
	border-top: solid 1px $cin2;
	padding-top: 55px;

	h2 {
		font-size: 24px;
		font-family: Bitter;
		font-weight: 700;
		color: #424140;
		text-transform: initial;
		display: inline-block;
		text-align: left;

		.numero_de_resultados {
			font-size: 32px;
			color: $az1;
		}
	}

	ul {

		li.resultado {
			width: 300px;
			height: 400px;
			float: left;
			margin-right: 20px;
			margin-bottom: 30px;
			color: $cin1;

			figure {
				width: 300px;
				height: 252px;
				background: #eee;
				overflow: hidden;
				border-radius: 3px;
			}
			h3 {
				font-size: 18px;
				line-height: 20px;
				text-transform: uppercase;
				margin-top: 20px;
				font-family: Open Sans;
				font-weight: 600;
			}
			p {
				font-size: 14px;
				color: $cin1;
				line-height: 20px;
				margin-top: 5px;
			}

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}

