/* ----------------------------------------------------------------------------------
	RESPONSIVE LAYOUTS
---------------------------------------------------------------------------------- */

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    
    /* PRODUTOS */
    section.filtros form select {width: 25%; margin: 0 5px;}
    section.filtros form input#btnCleanProduto {margin: 0 0 0 20px;}
    section.filtros form input[type="text"] {width: 94%; margin: 20px 5px;}
    section.filtros form input#btnBuscarProduto {margin: 21px 0 0 -70px;}
    
    article.produtos li.produto {height: auto;}
    article.produtos li.produto figure {width: auto; /*max-width: 200px;*/ height: 200px;}
    article.produtos li.produto figure img {width: auto; height: auto;}
}
	
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    
    /* HEADER */
    header.main-header {}
    header.main-header button {}
    header.main-header h1 {}
    header.main-header select {}
    #header {padding: 10px;}
    
    
    /* HOME */
    /* Slider */
    #slider {padding: 0 10px;}
    #slider .rslides-container {padding: 0;}
    .carousel .carousel_nav {bottom: 60px; left: 30px;}
    
    /* Nossos produtos*/
    main.home .nossosprodutos {padding-top: 40px;}
    
    /* Banner */
    main.home .banner {width: auto; height: auto; margin-left: -15px; margin-right: -15px; overflow: hidden;}
    main.home .banner h3 {bottom: 10px;}
    
    /* Projetos */
    .projetos ul li {float: none; width: 205px; height: 280px;}
    .projetos ul li header {min-height: 50px; height: auto;}
    .projetos ul li h3 {font-size: 20px;}
    .projetos ul li .info {padding: 10px 15px;}
    .projetos ul li span.year {font-size: 30px;}
    
    /* Carrossel */
    #marcas_parceiras ul.parceiras_carousel {width: auto;}
    #marcas_parceiras ul li.parceiras_slide img {padding: 0px;}
    
    .slick-dots {
        position: absolute;
        bottom: -45px;
        display: block;
        width: 100%;
        padding: 0;
        list-style: none;
        text-align: center;
    }
    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 0 5px;
    }
    .slick-dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 12px;
        height: 12px;
        outline: none;
        background: #fff;
        border: 1px solid #0094df;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }
    .slick-dots li button:hover,
    .slick-dots li button:focus {background: #0094df;}
    .slick-dots li.slick-active button {background: #0094df !important;}
    .slick-inactive {background: #fff !important;}

    
    /* PAGINAS INTERNAS */
/*    .interna section {margin-bottom: 40px;}
    .interna section .nossosprodutos {}*/
    .container.medium {width: auto;}
    .container.mini {width: auto;}
    
    
    /* QUEM SOMOS */
    .interna a.pagelink {width: 350px;}
    .interna a.pagelink h3 {left: 90px; top: 20px;}
    
    
    /* ONDE ESTAMOS */
    main.ondeestamos .map-placeholder {width: 100%;}
    
    
    /* PRODUTOS */
/*    section.filtros form select {width: 25%; margin: 0 5px;}
    section.filtros form input#btnCleanProduto {margin: 0 0 0 20px;}
    section.filtros form input[type="text"] {width: 94%; margin: 20px 5px;}
    section.filtros form input#btnBuscarProduto {margin: 21px 0 0 -70px;}*/
    
    article.produtos li.produto {margin-right: 25px; min-height: 390px;}
    article.produtos li.produto:nth-child(3n) {margin-right: 0 !important;}
    article.produtos li.produto:nth-child(4n) {margin-right: 35px;}
    article.produtos li.produto figure {max-width: none;}
    
    
    /* CONTATO */
    .formulario div form p:nth-of-type(6) {text-align: center;}
    article.contato .container.mini {margin: 40px auto 0 auto;}
    article.contato .container.mini p {max-width: 320px;}
    
    
    /* NOTICIAS */
    article.novidades ul li.newsletter {width: 100%; height: auto;}
    
    
    /* NOTICIA INTERNA */
    main.novidade article.novidade {max-width: 480px;}
    
    
    /* RESULTADO BUSCA */
    article.busca ul li.resultado {width: 345px;}
    article.busca ul li.resultado figure {width: 100%;}
    article.busca ul li.resultado figure img {width: 100%; height: auto;}
        
    
    /* FOOTER */
    footer ul {height: auto; padding: 10px 0;}
    footer ul li {margin: 0 10px 0 0; font-size: 14px;}
    footer ul li a {line-height: 40px;}
    footer ul li:after {position: initial; margin: 0 0 0 10px;}
}

/*@media only screen and (min-width: 481px) and (max-width: 767px) {
    section.filtros form select {width: 30%;}
}*/

@media only screen and (max-width: 767px) {
    
    /* QUEM SOMOS */
    .interna a.pagelink {width: 100%; margin-bottom: 20px;}
    .interna a.pagelink h3 {left: 37%;}
    a img {margin: 0 auto;}
    
    
    /* PROJETOS */
    .projetos .filtros {height: auto;}
    .produtos .filtros {height: auto;}
    section.filtros form {margin-top: 20px;}
    section.filtros form select#drpProjetoCliente {width: 39%; margin: 0 5px;}
    section.filtros form select#drpProjetoOrdernar {width: 54%; margin: 0 5px;}
    
    .interna section.links-produtos {display: block !important;}
    
    
    /* PRODUTOS */
    section.filtros form select#drpProdutoCategoria {width: 54%; margin: 0 5px;}
    section.filtros form select#drpProdutoTipo {width: 39%; margin: 0 5px;}
    section.filtros form select#drpProdutoMarca {width: 54%; margin: 10px 5px 10px 5px;}
    section.filtros form input#btnCleanProduto {margin: 0px 5px 20px 5px;}
    section.filtros form input[type="text"] {width: 100%; float: none; margin: 0 5px;}
    section.filtros form input#btnBuscarProduto {float: none; position: absolute; bottom: 21px; right: 27px;}
    
    article.produtos li.produto {min-height: 390px;}
    article.produtos li.produto:nth-child(2n) {margin-right: 25px;}
    article.produtos li.produto:nth-child(3n) {margin-right: 0px;}
    article.produtos li.produto:nth-child(4n) {margin-right: 25px;}
}

@media only screen and (max-width: 640px) {
    
    article.produtos li.produto {width: 270px; min-height: 390px;}
    article.produtos li.produto:nth-child(2n) {margin-right: 0;}
    article.produtos li.produto:nth-child(3n) {margin-right: 35px;}
    article.produtos li.produto:nth-child(4n) {margin-right: 0;}
    
/*     HOME 
     Carrossel parceiras 
    #marcas_parceiras ul li.parceiras_slide {background-size: 130px !important;}*/
}

@media only screen and (max-width: 568px) {
    
    article.produtos li.produto {max-width: 260px; min-height: 390px;}
    article.produtos li.produto:nth-child(2n) {margin-right: 0 !important;}
    article.produtos li.produto:nth-child(3n) {margin-right: 25px;}
    article.produtos li.produto:nth-child(4n) {margin-right: 0;}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    
    /* HEADER */
    header.main-header {height: auto;}
    header.main-header button {top: 13px;}
    header.main-header h1 {
        margin: 10px 60px 0px 0px;
        width: 170px;
        background-size: 170px;
        height: 40px;
    }
    header.main-header select {
        top: 15px;
        padding-left: 4px;
        width: 90px;
        background-position: 73px 9px;
        background-size: 10px;
        font-size: 10px;
        height: 25px;
    }
    
    
    /* HOME */
    /* Slider imagens */
    .carousel {background: none; height: 350px;}
    .carousel .carousel_stage .slick-slide img {display: block; /*max-width: 100%*/; height: auto; width: 200%;}
    
    /* Slider navegacao */
    .carousel .carousel_nav p.pagination {display: none;}
    .carousel .carousel_nav ul {height: auto;}
    .carousel .carousel_nav ul.slick-dots {width: auto;}
    
    /* Nossos produtos*/
    
    .title-communication {margin-left: -7px; letter-spacing: -.5px;}
    .title-communication-480 {margin-left: -2px; letter-spacing: -.9px;}
    .title-comunicacion {margin-left: -3px; letter-spacing: initial;}
    .title-comunicacao {margin-left: 0; letter-spacing: initial;}
    
    .nossosprodutos {margin-bottom: 60px;}
    .nossosprodutos ul {margin-bottom: 0px;}
    .nossosprodutos ul li h3 {margin-top: 90px;}
    .nossosprodutos ul li {width: 120px; height: 120px; margin: 0 10px;}
    .nossosprodutos ul li.comunicacao {background-size: 35px}
    .nossosprodutos ul li.navegacao {background-size: 50px; background-position: center 35%;}
    .nossosprodutos ul li.seguranca {background-size: 50px; background-position: center 40%;}
    
    /* Banner */
    main.home .banner h3 {background-color: #000; padding: 10px; font-size: 20px; bottom: 0; z-index: 10;}
    main.home .banner img {
        height: auto;
        display: block;
        margin: 0 auto;
        -webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
    }
    
    /* Carrossel parceiras */
    #marcas_parceiras ul li.parceiras_slide {background-size: 128px !important;}
    
    
    /* PAGINAS INTERNAS */
    .interna section {margin-bottom: 40px;}
    .interna p, .interna ul.text li {font-size: 16px;}
    
    
    /* QUEM SOMOS */
    .interna a.pagelink {width: 100%; margin-bottom: 20px;}
    .interna a.pagelink h3 {left: 130px;}
    a img {margin: 0 auto;}
    
    
    /* ONDE ESTAMOS */
    
    
    /* PROJETOS */
    article.produtos li.produto {margin: 0 10px 10px 10px; width: auto; max-width: 200px;}
    article.produtos li.produto:nth-child(3n) {margin-right: 10px;}
    article.produtos li.produto:nth-child(2n) {margin-right: 0;}
    
    
    /* CONTATO */
    article.contato {margin-bottom: 30px;}
    article.contato .container.mini {width: 100%;}
    article.contato .container.mini h3.mobile-title {text-transform: uppercase; color: #0094df; display: block !important;}
    article.contato .container.mini p {max-width: none;}
    article.contato .local .map-placeholder {width: auto;}
    .formulario input {width: 100%;}
    .formulario textarea {width: 100%;}
    
    
    /* NOTICIAS */
    article.novidades ul {margin-top: 40px}
    article.novidades ul li.novidade {width: 100%;}
    article.novidades ul li.novidade figure {width: 100%;}
    
    /* NOTICIA INTERNA */
    main.novidade article.novidade {width: 100%;}
    main.novidade aside.recentes {width: 100%;}
    main.novidade aside.recentes li.recente figure {height: auto;}
    main.novidade aside.recentes .newsletter {height: auto;}
    
    
    /* RESULTADO BUSCA */
    article.busca ul li.resultado {width: 100%; margin-right: 0;}
    
    
    /* FOOTER */
    footer {height: auto;}
    footer .menu-footer {display: none;}
    footer .subfooter {line-height: 20px; margin: 10px 60px 15px 60px;}
}

/*@media only screen and (min-width : 321px) and (max-width : 479px) {
    
    HEADER 
    header.main-header button {top: 13px;}
    header.main-header h1 {margin-right: 40px; width: 150px; background-size: 150px;}
    header.main-header select {background: none; width: 70px; padding: 0;}
    
    
     HOME 
     Slider imagens 
    .carousel {height: 260px;}
    .carousel .carousel_stage {height: 300px;}
    .carousel .carousel_stage .slick-slide img {
        webkit-transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        -o-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }
    
     Slider navegacao 
    .carousel .carousel_nav {width: 260px; height: auto; bottom: 20px; left: 20px; padding: 15px;}
    .carousel .carousel_nav h3 {font-size: 17px; line-height: 22px;}
    .carousel .carousel_nav p {font-size: 12px;}
    .carousel .carousel_nav ul.slick-dots {bottom: -12px;}
    
     Nossos produtos
    main.home .nossosprodutos {padding-top: 30px;}
    main.home .nossosprodutos h2 {margin-bottom: 25px;}
    .nossosprodutos ul {margin-bottom: 70px;}
    .nossosprodutos ul li h3 {font-size: 12px;}
    .nossosprodutos ul li {width: 80px; height: 80px; margin: 0 5px;}
    .nossosprodutos ul li.comunicacao {background-size: 30px}
    .nossosprodutos ul li.navegacao {background-size: 40px; background-position: center 40%;}
    .nossosprodutos ul li.seguranca {background-size: 40px; background-position: center 50%;}
    
     Banner 
    main.home .banner h3 {background-color: #000; padding: 10px; font-size: 20px; bottom: 0;}
    main.home .banner img {height: auto; display: block; margin: 0 auto;}
    
     Projetos 
    main.home .projetos {padding-bottom: 50px;}
    .projetos ul li header {max-width: 360px;}
    .projetos ul li {width: auto; min-width: 283px; height: auto;}
    .projetos ul li h3 {font-size: 24px;}
    .projetos ul li header {min-height: 50px; height: auto;}
    .projetos ul li .info {padding: 10px 15px;}
    .projetos ul li span.year {font-size: 30px;}
    .projetos ul li .client {width: 65%; height: auto; vertical-align: middle;}
    .projetos ul li .info h4 {margin-top: 5px; margin-bottom: 5px;}
    
     Carrossel parceiras 
    #marcas_parceiras ul li.parceiras_slide {background-size: 120px !important;}
    
    
     PAGINAS INTERNAS 
    section.titulo .title-box {width: auto; height: auto; bottom: -30px; min-height: 120px;}
    section.titulo h1 {text-align: left; padding: 20px 20px; width: 155px; font-size: 22px;}
    
    
     QUEM SOMOS 
    .interna .graybg h3 {font-size: 26px;}
    .interna a.pagelink h3 {left: 80px; font-size: 20px; line-height: 22px; top: 15px;}
    
    
     ONDE ESTAMOS 
    main.ondeestamos .map-placeholder {width: auto;}
    
    
     PROJETOS 
    .navemenu {
        margin-right: 5px !important;
        margin-left: 5px !important;
        width: auto !important;
        padding: 0 5px;
        font-size: 12px;
        line-height: 25px;
        margin-bottom: 0;
    }
    .wp-pagenavi a.page, .wp-pagenavi span.current {
        padding-right: 0px;
        padding-left: 0px;
        width: 20px;
    }
    section.filtros form {padding: 20px 20px 10px;}
    section.filtros form select {margin: 0 0 10px 0 !important; width: 100% !important;}
    
    
     PRODUTOS 
    section.filtros form input[type="text"] {margin: 0; padding-right: 10px;}
    section.filtros form input#btnBuscarProduto {position: initial; float: none; margin: 10px 0;}
    
    article.produtos li.produto {width: 100%;max-width: none; height: auto; margin-right: 10px; float: none;}
    article.produtos li.produto:nth-child(4n) {margin-right: 10px;}
    article.produtos li.produto:nth-child(3n) {margin-right: 10px;}
    article.produtos li.produto:nth-child(2n) {margin-right: 10px;}
    article.produtos li.produto figure {width: 100%;}
    article.produtos li.produto h3 {font-size: 20px;}
    
    
     CONTATO 
    article.contato .container.mini {margin: 0 auto; width: 100%;}
    article.contato .local .map-placeholder {width: auto;}
    .formulario input {width: 100%;}
    .formulario textarea {width: 100%;}
    
    
     FOOTER 
    footer {height: auto;}
    footer .menu-footer {display: none;}
    footer .subfooter {line-height: 20px; margin: 10px 10px 15px 10px;}
}*/

/* iPhone (Portrait), Custom, iPhone Retina */
@media only screen and (max-width: 479px) {
    
    /* HEADER */
    header.main-header button {top: 13px;}
    header.main-header h1 {margin-right: 40px; width: 150px; background-size: 150px;}
    header.main-header select {background: none; width: 70px; padding: 0;}
    
    
    /* HOME */
    /* Slider imagens */
    .carousel {height: 260px;}
    .carousel .carousel_stage {height: 300px;}
/*    .carousel .carousel_stage .slick-slide img {
        webkit-transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        -o-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }*/
    
    /* Slider navegacao */
    .carousel .carousel_nav {width: 260px; height: auto; bottom: 20px; left: 20px; padding: 15px;}
    .carousel .carousel_nav h3 {font-size: 17px; line-height: 22px;}
    .carousel .carousel_nav p {font-size: 12px;}
    .carousel .carousel_nav ul.slick-dots {bottom: -12px;}
    
    /* Nossos produtos*/
    main.home .nossosprodutos {padding-top: 30px;}
    main.home .nossosprodutos h2 {margin-bottom: 25px;}
/*    .nossosprodutos ul {margin-bottom: 70px;}*/
    .nossosprodutos ul li h3 {font-size: 12px;}
    .nossosprodutos ul li {width: 80px; height: 80px; margin: 0 5px;}
    .nossosprodutos ul li.comunicacao {background-size: 30px}
    .nossosprodutos ul li.navegacao {background-size: 40px; background-position: center 40%;}
    .nossosprodutos ul li.seguranca {background-size: 40px; background-position: center 50%;}
    
    /* Banner */
/*    main.home .banner h3 {background-color: #000; padding: 10px; font-size: 20px; bottom: 0;}
    main.home .banner img {height: auto; display: block; margin: 0 auto;}*/
    
    /* Projetos */
    main.home .projetos {padding-bottom: 50px;}
    .projetos ul li header {max-width: 350px;}
    .projetos ul li {width: auto; min-width: 283px; height: auto;}
    .projetos ul li h3 {font-size: 24px;}
/*    .projetos ul li header {min-height: 50px; height: auto;}*/
/*    .projetos ul li .info {padding: 10px 15px;}*/
/*    .projetos ul li span.year {font-size: 30px;}*/
    .projetos ul li .client {width: 65%; height: auto; vertical-align: middle;}
    .projetos ul li .info h4 {margin-top: 5px; margin-bottom: 5px;}
    
    /* Carrossel parceiras */
    #marcas_parceiras ul li.parceiras_slide {background-size: 120px !important;}
    
    
    /* PAGINAS INTERNAS */
    section.titulo .title-box {width: auto; height: auto; bottom: -30px; min-height: 120px;}
    section.titulo h1 {text-align: left; padding: 20px 20px; width: 155px; font-size: 22px;}
    
    
    /* QUEM SOMOS */
    .interna .graybg h3 {font-size: 26px;}
    .interna a.pagelink h3 {left: 80px; font-size: 20px; line-height: 22px; top: 15px;}
    
    
    /* ONDE ESTAMOS */
    main.ondeestamos .map-placeholder {width: auto;}
    
    
    /* PROJETOS */
    .navemenu {
        margin-right: 5px !important;
        margin-left: 5px !important;
        width: auto !important;
        padding: 0 5px;
        font-size: 12px;
        line-height: 25px;
        margin-bottom: 0;
    }
    .wp-pagenavi a.page, .wp-pagenavi span.current {
        padding-right: 0px;
        padding-left: 0px;
        width: 20px;
    }
    section.filtros form {padding: 20px 20px 10px;}
    section.filtros form select {margin: 0 0 10px 0 !important; width: 100% !important;}
    
    
    /* PRODUTOS */
    section.filtros form input[type="text"] {margin: 0; padding-right: 10px;}
    section.filtros form input#btnBuscarProduto {position: initial; float: none; margin: 10px 0;}
    
    article.produtos li.produto {/*width: 100%;*/max-width: none; height: auto; margin-right: 10px; float: none; min-height: max-content;}
    article.produtos li.produto:nth-child(2n) {margin-right: 10px;}
    article.produtos li.produto:nth-child(3n) {margin-right: 10px;}
    article.produtos li.produto:nth-child(4n) {margin-right: 10px;}
    article.produtos li.produto figure {width: 100%;}
    article.produtos li.produto h3 {font-size: 20px;}
    
    .interna section.links-produtos {margin-top: 30px;}
    
    
    /* CONTATO */
    article.contato .container.mini {width: auto;}
    article.contato .local.bg-localizacao {background-color: #efeee8; margin-left: -10px; margin-right: -10px; padding: 30px 15px;}
/*    article.contato .container.mini {margin: 0 auto; width: 100%;}
    article.contato .local .map-placeholder {width: auto;}
    .formulario input {width: 100%;}
    .formulario textarea {width: 100%;}*/
    
    
    /* FOOTER */
/*    footer {height: auto;}
    footer .menu-footer {display: none;}*/
    footer .subfooter {line-height: 20px; margin: 10px 10px 15px 10px;}
}